#recitInfoPanel{
    z-index: 250;
    position: absolute;
    top: 12.9%;
    left: 0px;
    width: 45%;
    height: 100%;
}

#recitInfoPanel  .card {
    background-color: transparent;
    border-radius: 0 !important;
}

#recitInfoPanel  .card-header{
    border-radius: 0 !important;
    background-color: yellow;
    height: 10px;
}

#recitInfoPanel  .card-body{
    border-radius: 0 !important;
}


#recitInfoPanel  .hidden {
    width:0% !important;
    background:#f90;
    color:#000;
}

